.counter {
    display: flex;
    justify-content: center;
}

.counter-area {
    border: 4px solid black;
    border-radius: 25px;
    width: 450px;
    height: 280px;
    text-align: center;
    position: relative;
    top: 100px;   
}

.result {
    font-family: sans-serif;
    font-size: 120px;
    font-weight: 600;
    position: relative;
    top: 40px;
}

.operation-area {
    width: 450px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
}

.counter-button {
    font-family: Helvetica, sans-serif, Arial ;
    font-weight: light;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
    width: 25%;
    height: 50%;
    background-color: white;
    position: relative;
    top: 50%;
}

.counter-button:hover {
    cursor: pointer;
}

.note {
    font-family: Helvetica, sans-serif, Arial ;
    font-weight: lighter;
    font-size: 12px;
    position: relative;
    top: 105px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

