* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #bdb57d82;
   /* background-image: url(images/beWaterMyFriend.png);*/
}