*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://i.gifer.com/J4o.gif);
    font-family: 'Oswald', sans-serif;
}


.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    background-color: rgba(7, 13, 74, 0.708);
    height: 250px;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 29px -12px rgba(0,0,0,0.75);
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    background-color: rgba(7, 13, 74, 0.708);
    height: 300px;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 29px -12px rgba(0,0,0,0.75);
}

.link{
    padding: 20px;
    font-size: 12px;
}

.button-login, .button-register {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(31, 10, 123);
    color: rgb(254, 254, 254);
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;    
}

.button-login:hover, .button-register:hover{
    background-color: rgb(82, 61, 177);
    color: rgb(254, 254, 254);
}

.title{
    font-family: 'Itim', cursive;
    padding-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-style:bold;
    color: rgb(216, 216, 218);
}

label{
    padding-bottom: 25px;
}

input {
    width: 230px;
    outline: none;
    border: none;
    color:black;
    border-bottom: solid 1px black;
    padding: 0 4px;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}

input::placeholder {
    color:rgba(58, 59, 59, 0.842);
    
}

.fa-solid {
    padding-right: 10px;
    font-size: 20px;
    color: rgb(245, 244, 246);
}

p{
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
    padding: 15px;
    color: rgb(255, 255, 255);
}

a{
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    color: white;
}