* {
    font-family: Georgia, 'Times New Roman', Times;
}

body {
    background-color:rgb(197, 214, 208);
}


h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


p {
    font-weight: bold;
    text-align: center;
}


#register {
    top: 120px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-color:blanchedalmond;
    border-style: groove;
    border-radius: 25px;
    position: relative;
    max-width: 300px;
    margin: 20px auto;
    padding: 30px;}

#login {
    top: 120px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-color:rgba(138, 219, 113, 0.26);
    border-style: groove;
    border-radius: 25px;
    position: relative;
    max-width: 300px;
    margin: 20px auto;
    padding: 30px;
}

#home {
    background-color:rgb(168, 154, 154);
    color: #FFFF;
    border-radius: 25px;
}



#register_button {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    background-color:rgb(4, 54, 146);
    border-bottom-color:rgb(3, 3, 3);
    color: #FFFF;
}

#login_button {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    background-color:rgb(4, 54, 146);
    border-style: solid;
    border-bottom-color:rgb(3, 3, 3);
    color: #FFFF;
}


#exit_button {
    position: absolute; /* Coloca el botón de forma absoluta */
    top: 45px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la izquierda */
    background-color:rgb(4, 54, 146);
    color: #FFFF;
}

#username {
    margin-left: 30px;
}

#password {
    margin-left: 4px;
}

#email {
    margin-left: 30px;
}