* {
    font-family: Georgia, 'Times New Roman', Times;
}

body {
    background-image: url(https://basicappleguy.com/s/Rancho_Cucamonga_NoTree_16.png);
    background-color:rgb(197, 214, 208);
    background-size: cover;
}


h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


p {
    font-weight: bold;
    text-align: center;
}


#register {
    top: 120px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-color:rgba(255, 235, 205, 0.26);
    border-style: groove;
    border-radius: 25px;
    position: relative;
    max-width: 300px;
    margin: 20px auto;
    padding: 30px;}

#login {
    top: 120px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-color:rgba(138, 219, 113, 0.26);
    border-style: groove;
    border-radius: 25px;
    position: relative;
    max-width: 300px;
    margin: 20px auto;
    padding: 30px;
}

#home {
    background-color:rgba(59, 56, 56, 0.26);
    color: #FFFF;
    border-radius: 25px;
}



#register_button {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    background-color:rgb(4, 54, 146);
    border-bottom-color:rgb(3, 3, 3);
    color: #FFFF;
}

#login_button {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 20px;
    background-color:rgb(4, 54, 146);
    border-style: solid;
    border-bottom-color:rgb(3, 3, 3);
    color: #FFFF;
}


#exit_button {
    position: absolute;
    top: 45px;
    right: 20px;
    background-color:rgb(4, 54, 146);
    color: #FFFF;
}

#username {
    margin-left: 3px;
}

#password {
    margin-left: 3px;
}

#email {
    margin-left: 0px;
}

