@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

/* HEADER */
header {
  background-color: #b4c6d8;
  color: #333;
  padding: 20px 0;
  min-height: 80px;
}

.home-header {
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  font-family: "Sofia", sans-serif;
  font-size: 48px;
  color: rosybrown;
  margin-left: 10px;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  color: #fff;
  background-color: rosybrown;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  width: 400px;
  font-size: 16px;
  outline: none;
}

.search-input:focus {
  border-color: rosybrown;
}


/* FIRST SECTION H2*/
.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.first-section h2 a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0;
  padding: 10px;
}

.first-section h2 {
  transition: color 0.3s ease;
  margin: 0;
  padding: 10px;
}

.first-section h2 a:hover {
  color: #b4c6d8;
}


/* FIRST SECTION ICONS*/
.welcome-user {
  margin-left: 20px;
}

.logout-button {
  background-color: #b4c6d8;
  border: none;
  padding: 8px 8px;
  border-radius: 11px;
  cursor: pointer;
}

.icons a {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icons a {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icons img {
  width: 36px;
  height: 36px;
  border: none;
  outline: none;
}


/* SECOND SECTION*/
.second-section {
  position: relative;
  background: url('../images/1.jpg') center/cover no-repeat;
  padding: 170px 0;
}

.second-section h2 {
  color: rosybrown;
  font-family: "Sofia", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
}


/* PRODUCTS*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1400px;
}

.product {
  position: relative;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  width: 460px;
  height: 580px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 400px;
  height: 380px;
  margin-bottom: 20px;
}

.product h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
}

.product p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.cart-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-button {
  background-color: #b4c6d8;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #818d9a;
}

@media (min-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}


/* PRODUCT DETAILS*/
/* .details-overlay {
  position: absolute;
  top: 0;
  left: 100%;
  width: 460px;
  height: 580px;
  padding: 15px;
  background-color: #b4c6d8;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
} */

.details-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  max-width: 90%;
  max-height: 90vh;
  padding: 15px;
  background-color: rgba(180, 198, 216, 0.941);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.details-content {
  padding: 10px;
  text-align: left;
}

.details-content h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
}

.close-button {
  background-color: #fff;
  color: #818d9a;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #F0F0F0;
}


/* RECIPES*/
.recipes-compo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1400px;
}

@media (min-width: 768px) {
  .recipes-compo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .recipes-compo {
    grid-template-columns: repeat(3, 1fr);
  }
}

.recipe-compo {
  position: relative;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  width: 460px;
  height: 580px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.recipe-compo:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-compo h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
}

.recipe-compo img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.recipe-compo button {
  background-color: #b4c6d8;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.recipe-compo button:hover {
  background-color: #8f9caa;
}


/* LOGIN*/
.login-view {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #b4c6d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-view h1 {
  text-align: center;
  margin-bottom: 25px;
}

.login-view form {
  display: flex;
  flex-direction: column;
}

.login-view form div {
  margin-bottom: 15px;
}

.login-view label {
  font-weight: bold;
}

.login-view input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.login-view button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-view button:hover {
  background-color: #003e80;
}

.login-view p {
  margin-top: 20px;
  text-align: center;
}

.login-view p a {
  color: #007bff;
  text-decoration: none;
}

.login-view p a:hover {
  color: #003e80;
  text-decoration: none;
}


/* REGISTER*/
.register-view {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #b4c6d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-view h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-view form {
  display: flex;
  flex-direction: column;
}

.register-view form div {
  margin-bottom: 15px;
}

.register-view label {
  font-weight: bold;
}

.register-view input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.register-view button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-view button:hover {
  background-color: #003e80;
}

.register-view p {
  margin-top: 20px;
  text-align: center;
}

.register-view p a {
  color: #007bff;
  text-decoration: none;
}

.register-view p a:hover {
  color: #003e80;
  text-decoration: none;
}