* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: beige;
  color: #333;
  padding: 20px 0;
  min-height: 80px;
}

header h1 {
  font-family: "Sofia", sans-serif;
  font-size: 48px;
  color: rosybrown;
  margin-left: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  width: 300px;
  font-size: 16px;
}

button {
  padding: 10px 10px;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

header nav {
  float: right;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}

header nav ul li {
  display: inline-block;
  margin-right: 50px;
}

.section1 {
  background: url('../images/sect1.png') center/cover no-repeat;
  color: #fff;
  font-family: "Sofia", sans-serif;
  padding: 150px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section2 h2 {
  transition: color 0.3s ease;
}

.section2 h2:hover {
  color: rosybrown
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
  margin: 0;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

#productos {
  padding: 50px 0;
  background-color: #fff;
}

.product {
  width: 30%;
  margin-right: 3%;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}